# flyctl launch added from .gitignore
!**/**/glob-import/dir/node_modules
**/.DS_Store
**/.idea
**/*.cpuprofile
**/*.local
**/*.log
.vscode
docs/.vitepress/cache
**/dist
**/dist-ssr
**/explorations
**/node_modules
**/playground-temp
**/temp
**/TODOs.md
**/.eslintcache
**/convex-local-backend*
**/convex_local_*
**/.vercel
fly.toml
node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
Makefile
helm-charts
.env
.editorconfig
.idea
coverage*
.storybook
./src
